[[source]]
url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true

[dev-packages]
pytest = "==5.4.*"
pytest-mock = "==1.7.*"
pytest-pep8 = "*"

[packages]
rdflib = "==4.2.*"

[requires]
