[[source]]
url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true

[dev-packages]
pytest = "==5.4.*"
pytest-mock = "==1.7.*"
pytest-pycodestyle = "==2.2.*"
pytest-cov = "==2.8.*"
codecov = "==2.1.*"

[packages]
rdflib = "==4.2.*"
scikit-learn = "==0.22.*"

[requires]
