[tool.poetry]
name = "stwfsapy"
version = "0.4.0-dev"
description = "A library for match labels of thesaurus concepts to text and assigning scores to found occurrences."
authors = ["AutoSE <autose@zbw.eu>"]
license = "Apache-2.0"
readme = "README.md"
classifiers = [
    "Intended Audience :: Science/Research",
    "Topic :: Scientific/Engineering :: Artificial Intelligence"
]
homepage = "https://github.com/zbw/stwfsapy"

[tool.poetry.dependencies]
python = "^3.8"
scikit-learn = ">0.24,<1.3"
rdflib = ">=4.2,<7.0"


[tool.poetry.group.dev.dependencies]
pytest = "~7.2"
pytest-mock = "~3.10"


[tool.poetry.group.ci.dependencies]
pytest-cov = "~4.0"
flake8 = "~5"
safety = "~2.3"
bandit = "~1.7"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.bandit]
skips = ["B403", "B301"]
exclude_dirs = ["stwfsapy/tests"]