name: Publish Release

on:
  push:
    tags:
      - "*"
permissions: {}
jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 #v4.2.2
        with:
          persist-credentials: false

      - name: Install uv
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b #v7.2.0
        with:
          version: "0.9.27"
          enable-cache: true

      - name: Set up Python 3.10
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 #v5.6.0
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: uv sync --locked --no-install-project

      - name: Test Code
        run: uv run pytest

  publish-pypi:
    runs-on: ubuntu-latest
    needs: [test]
    environment:
        name: pypi
        url: https://pypi.org/project/stwfsapy/
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 #v4.2.2
        with:
          persist-credentials: false

      - name: Install uv
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b #v7.2.0
        with:
          version: "0.9.27"
          enable-cache: true

      - name: Set up Python 3.10
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 #v5.6.0
        with:
          python-version: '3.10'

      - name: Check version and build distribution
        run: |
          if [ $(uv version --short) != ${{ github.ref_name }} ]; then
            echo "The version specified in pyproject.toml and the tag name are not the same"
            echo "Will use the tag name as version name"
            uv version ${{ github.ref_name }}
          fi
          uv build
      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e #v1.13.0
          
